.idea
.gradle
.intellijPlatform
.kotlin
build
bin

*.class
*.log
*.jar
*.war
*.zip
*.tar.gz

hs_err_pid*
replay_pid*
.claude/settings.json
.claude/settings.local.json
./bin
kls_database.db
chain.crt
private.pem
private_encrypted.pem
